<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Appointment App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Booking Appointment App</h1>
    <form method="POST" action="/submit-form" id="myForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>

        <label for="email">Email</label>
        <input type="email" id="email" name="email"><br>

        <label for="number">Phone Number:</label>
        <input type="number" id="number" name="number"><br>

        <input type="submit" value="Submit">

    </form>
    <div id="users"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>

    <script>

        window.onload = function(){
                    fetch('/users')
                        .then(response => response.json())
                        .then(data => {
                            const formData = document.getElementById('users');
                            formData.innerHTML = '';
                            data.forEach(user => {
                                showOnScreen(user);
                            });
                        })
                        .catch(err => {
                            console.log('Error fetching user data:', err);
                        });
                }

                function showOnScreen(user) {
                const usersList = document.getElementById('users');
                const userId = `user-${user.id}`;
                const li = document.createElement('li');
                li.textContent = `${user.name} - ${user.email} - ${user.number}`;
                usersList.appendChild(li);

                const editBtn = document.createElement('input');
                editBtn.type = 'button';
                editBtn.value = 'edit';
                editBtn.onclick = () => {
                    const updatedName = prompt('Enter updated Name:', user.name);
                    const updatedEmail = prompt('Enter updated Email:', user.email);
                    const updatedNumber = prompt('Enter updated Number:', user.number);

                    const updatedUser = {
                        id : user.id,
                        name : updatedName,
                        email : updatedEmail,
                        number : updatedNumber,
                    };
                    axios.put(`http://localhost:3020/users/editUser/${user.id}`, updatedUser)
                    .then(response=>{
                        console.log("Editing User : ", updatedUser);
                        location.reload()
                    })
                    .catch(error =>{
                        console.log("Error Editing User in frontend", error);
                    })
                };

                const deleteBtn = document.createElement('input');
                deleteBtn.type = 'button';
                deleteBtn.value = 'delete';
                deleteBtn.onclick = () => {
                    console.log('Deleting user with ID:', user.id);
                    fetch(`/User/delete-user/${user.id}`, {
                    method: 'DELETE'
                })
                .then(response=>response.json())
                .then(data=>{
                    console.log(data.message);
                    const formData = document.getElementById('users');
                    const deletedUser = formData.querySelector(`li[id="${userId}"]`);
                    deletedUser.remove();
                })
                .catch(err=>{
                    console.log(err.message);
                })
                }

                li.appendChild(editBtn);
                li.appendChild(deleteBtn);
                usersList.appendChild(li);
            }

    </script>
     
</body>
</html>
