<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Appointment App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Booking Appointment App</h1>
    <form method="POST" action="/submit-form" id="myForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>

        <label for="email">Email</label>
        <input type="email" id="email" name="email"><br>

        <label for="number">Phone Number:</label>
        <input type="number" id="number" name="number"><br>

        <input type="submit" value="Submit">

    </form>
    <div id="users"></div>
    <script>
        window.onload = function()
        { 
            fetch('/users')
                .then(response => response.json())
                .then(data =>{
                    const formData = document.getElementById('users');
                    formData.innerHTML='';
                    data.forEach(data => {
                        const li = document.createElement('li');
                        li.textContent = `${data.name} - ${data.email} - ${data.number}`;
                        formData.appendChild(li);

                        const delbtn = document.createElement('input')
                        delbtn.type = "button"
                        delbtn.value = "delete"
                        delbtn.onclick = () => {
                            deleteUser(data.id)
                        }
                        
                        function deleteUser(id){
                            console.log("delete user with this id", id);
                            fetch('/User/delete-user/'+id,{
                                method: 'DELETE'
                            })
                            .then(response=>response.json())
                            .then(data=>{
                                console.log(data.message);
                                const formData = document.getElementById('users');
                                const deletedUser = formData.querySelector(`li[${id}]`);
                                deletedUser.remove();
                            })
                            .catch(err=>{
                                console.log(err.message); 
                            });
                        }

                        const edit = document.createElement('input')
                        edit.type = "button",
                        edit.value = "edit"
                        edit.onclick = () =>{
                            updateUser(data.id)
                        }

                        function updateUser(id){
                            data.forEach(data=>{
                                li.setAttribute('data-id',data.id);
                            });
                            const formData = document.getElementById('users');
                            const UpdatedUser=formData.querySelector(`li[data-d="${id}"]`);
                            fetch('/User/update-user/'+id,{
                                method: 'PUT'
                            })
                            .then(response => response.json())
                            .then(UpdatedUser=>{
                                console.log(data.message);
                                // const formData = document.getElementById('users');
                                // const UpdatedUser = formData.querySelector(`li[${id}]`);
                                location.reload();
                            })
                            .catch(err=>console.log(err.message));
                        }

                        li.appendChild(delbtn)
                        li.appendChild(edit)
                        formData.appendChild(li)
                    });
                })
                .catch(err=>{
                    console.log(err);
                })
        }
    </script>
     
</body>
</html>
